@charset "UTF-8";
* {
    font-family: "Noto Sans TC";
    position: relative;
    color:#FFF;
    /* border: solid 1px black; */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
}

/* ------------------------------------------------------------------------------------ */
/* 文字反白顏色 */
::-moz-selection { /* Code for Firefox */
    color: #FFF;
    background: #ce5757;
  }
   
  ::selection {
    color: #FFF;
    background: #ce5757;
  }

  /* ------------------------------------------------------------------------------------ */
/* 導覽列 */
.navbar {
    background-color: #FF6161;
    height: 66px;
}

.navbar-default {
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar .logo {
    width: 150px;
}

.navbar-header {
    position: relative;
    z-index:1;
}

/* ------------------------------------------------------------------------------------ */
/* 導覽列文字 */
.navbar-default .navbar-nav>li>a {
    color: #1F202F;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5.4px;
    line-height: 30px;
    transition-duration: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

#btn-logout {
    color: #FFF;
    font-weight: 300;
    margin-left: 40px;
}

#btn-logout:hover {
    font-weight: 500;
}

/* 導覽列子選單 */
.navbar-nav>li>.dropdown-menu {
    height: 116px;
    background: rgba(255, 97, 97, 0.70);
    text-align: center;
    border: none;
    transition-duration: 0.5s;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #FF6161;
    color: #FFF;
}

.dropdown-item {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5.4px;
    line-height: 48px;
    color:#1F202F;
    transition-duration: 0.5s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color:#FFF;
    text-decoration: none;
}


/* ------------------------------------------------------------------------------------ */
/* 照片背景 */
header {
    background: linear-gradient(0deg, rgba(31, 32, 47, 0.80), rgba(31, 32, 47, 0.80)), url("img/background.png");
    background-size: cover;
    background-position: center center;
    padding-top:66px;
    text-align: center;
    height: 200px;
}

/* ------------------------------------------------------------------------------------ */
/* 登入頁背景 */
.login-header {
    height: 100%;
}

/* 登入頁標題 */
.login-title {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 7px;
}

/* ------------------------------------------------------------------------------------ */
/* 頁面標題字 */
.header-title {
    padding-top: 25px;
    font-size: 30px;
    font-weight: 350;
    letter-spacing: 15px;
}

section {
    background: #1F202F;
    min-height: 80%;
    height:auto;
    padding: 30px;
}

/* ------------------------------------------------------------------------------------ */
/* 毛玻璃視窗 */
.window {
    text-align: center;
    background: rgba(255, 255, 255, 0.10);
    /* 毛玻璃 */
    box-shadow: 0px 4px 6px 3px rgba(255, 255, 255, 0.10) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


/* 登入頁
基本資訊 - 時數資訊 - 客戶資訊 */
#window-login,
#window-info {
    text-align: left;
}

/* bootstrap網格占一半 */
.window-half {
    width: 300px;
}

/* 頁籤 */
.window-nav {    
    padding: 10px 40px;
}

/* 頁面內容 */
.window-content {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* 圓形 */
/* 基本資訊 - 時數資訊 - 剩餘時數 
健身剩餘時數 */
.window-circle {
    border-radius: 50%;
    width: 350px;
    padding-top: 45px;
    padding-bottom: 45px;
}

/* 基本資訊 - 使用紀錄 - 剩餘時數 */
#window-time {
    padding-top: 120px;
}

/* 基本資訊 - 使用紀錄 */
.window-record {
    height: 420px;
    padding-top: 60px;
}

/* 基本資訊 - 使用紀錄 - 使用紀錄內的各行數值 */
.div-record {
    display: inline-block;
    text-align: center;
    min-width: 140px;
    width: 40%;
    line-height: 10px;
}

/* 基本資訊 - 使用紀錄 - 使用紀錄內的分隔線 */
.window-record>hr {
    margin: 10px auto 25px auto;
    max-width: 350px;
}

/* 健身剩餘時數 */
.window-fitness {
    width: 350px;
    padding-top: 65px;
    padding-bottom: 65px;
}

/* 健身 - 右側欄位 */
.div-btn {
    text-align: center;
    padding-top: 120px;
}

/* 客戶列表 */
.window-list {
    max-width: 700px;
    margin-top: 10px;
}

/* 客戶列表的分隔線 */
.window-list>hr {
    margin: -5px auto 15px auto;
    max-width: 600px;
    border-top: 1px solid #FF6161;
}

/* 客戶列表 - 客戶資訊 */
#window-customer, .window-record {
    min-width: 350px;
    width: 100%;
}

#info {
    display: flex;
}

/* ------------------------------------------------------------------------------------ */
/* 文字 */

.font-120 {
    font-size: 120px;
    line-height: 120px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.font-55 {
    font-size: 55px;
}

.font-20 {
    font-size: 20px;
}

.font-12 {
    font-size: 12px;
    letter-spacing: 1.2px;
}

.text-space {
    letter-spacing: 10px;
}

.window-title {
    color:#FF6161;
    font-weight: 500;
    letter-spacing: 8px;
}

.text-hint {
    color: #FF6161;
}

/* 客戶列表 - 列表標題 */
.table-list {
    text-align: left;
    width: 100%;
    line-height: 50px;
}

.table-title {
    border-bottom: 1px solid #FF6161;
}

td, th {
    padding: 0 20px;
}

td {
    cursor: pointer;
}

tr:hover {
    background-color: #1F202F;
    transition-duration: 0.5s;
}

.table-title:hover {
    background-color: transparent;
}

/* 列表X滑動 */
.div-table {
    display: block;
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.div-table table {
    width: 100%;
    white-space: nowrap;
}

/* 列表scroll bar */
.div-table::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; 
    border-radius: 10px;
}
/* Add a thumb */
.div-table::-webkit-scrollbar-thumb {
    background: #FF6161;
    border-radius: 10px;
  }


/* ------------------------------------------------------------------------------------ */
/* 輸入框 */
input {
    height: 40px;
    width: 238px;
    color: #FFF;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 0 10px;
}

input:focus {
    outline: 1px solid #FF6161;
}

/* ------------------------------------------------------------------------------------ */
/* 按鈕 */
.btn {
    border-radius: 50px;
    width: 125px;
    height: 44px;
}

.btn-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.btn-primary {
    background: rgba(255, 97, 97, 0.80);
    box-shadow: 0px 4px 6px 3px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    top: 50%;  
    transition-duration: 0.5s;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: rgba(255, 44, 44, 0.8) !important; 
}

#btn-login {
    left: 50%;
    transform: translate(-50%, 0%);
}

/* 基本資訊 - 時數資訊 - 剩餘時數 */
#btn-how {
    position: absolute;
    top: 270px;
    left: 20px;
}

/* 基本資訊 - 時數資訊 - 剩餘時數 */
#btn-refresh {
    position: absolute;
    top: 270px;
    left: 260px;
    padding-top: 10px;
}

/* 基本資訊 - 時數資訊 - 客戶資訊 */
#btn-edit {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 26px;
    left: 250px;
}

/* 健身 - 進入健身房 */
#btn-enter {
    border-radius: 20px;
    width: 150px;
    height: 90px;
    font-size: 20px;
    letter-spacing: 9px;
    padding-left: 20px;
    position: absolute;
    right: auto;
    top: 180px;
    transform: translate(-50%, 0%);
}

/* ------------------------------------------------------------------------------------ */
/* 頁籤 */
.nav-pills>li>a {
    height: 42px;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 8px;
    color: #FFF;
    transition-duration: 0.5s;
    padding-right: 5px;
}

.nav-pills>li>a:hover {
    color: #FFF;
    background-color: #1F202F;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #FF6161;
    font-weight: 400;
    background-color: transparent;
    border-bottom: 3px solid #FF6161;
}

.nav-pills>li.active>a:hover {
    background-color: #1F202F;
}

/* ------------------------------------------------------------------------------------ */
/* 分頁 */
.pagenumbers {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pagenumbers li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 30px;
    height: 30px;
    appearance: none;
    border: none;
    outline: none;
    margin: 5px;
    transition: 0.5s;
    font-size: 16px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 50%;
}
.pagenumbers li:hover,
.pagenumbers li.active {
    background-color: #FF6161;
}
.pagenumbers li.active {
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------------------------ */
/* 浮動視窗Modal */
.modal {
    top: 30%;
}

.modal-content {
    text-align: center;
    border-radius: 10px;
    background:  rgba(31, 32, 47, 0.80);
    /* 毛玻璃 */
    box-shadow: 0px 4px 6px 3px rgba(255, 255, 255, 0.10) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
}

.modal-header,
.modal-footer {
    border: none;
    text-align: center;
}

/* ------------------------------------------------------------------------------------ */
/* 搜尋框 */
.form-inline {
    display: flex;
    justify-content: center;
}

.form-inline .form-control {
    vertical-align: top;
    width: 100%;
    max-width: 500px;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    border-radius: 0px;
    color: #FFF;
}

.form-control:focus {
    border-color :#FF6161;
    box-shadow: none;
}

.btn-search {
    background-color: transparent;
    width: auto;
    margin-top: -5px;
}

.btn-search:hover,
.btn-search:active {
    color: #FF6161;
}

/* ------------------------------------------------------------------------------------ */
/* 手機版面 */
@media screen and (max-width: 768px) {
    /* 手機選單 */
    .navbar-default .navbar-collapse {
        border: none;
        background-color: rgba(255, 97, 97, 0.80);
        margin-top: 2px;
        text-align: left;
    }
    /* 子選單 */
    .navbar-nav>li>.dropdown-menu {
        text-align: left;
        margin-left: 50px;
    }

    #btn-logout {
        margin-left: 8px;
        margin-top: 20px;
    }

    /* 漢堡按鈕 */
    .navbar-toggle {
        border: none;
        margin-top: 12px;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-toggle svg {
        transition-duration: 0.5s;
    }

    .navbar-toggle:hover svg {
        transform: rotate(45deg);
    }


    /* 其他調整 */
    .window-record {
        max-width: 330px;
        height: auto;
    }
    #window-record {
        width: 100%;
        padding-top: 40px;
        margin-bottom: 0px;
    }

    .modal-content {
        padding: 20px 40px;
    }

    .div-btn {
        padding-top: 0px;
    }

    .btn-enter {
        top: 60px;
    }
}